<% if @prescriptions %>
  <div class="mt-3">
    <% if @prescriptions_might_be_deprecated %>
      <div class="alert alert-warning dismissable">
        Certains arrêtés ministériels dont sont issues ces prescriptions ont été mis à jour depuis leur extraction dans cette fiche.
        Elles peuvent donc différer de la version en vigueur.
      </div>
    <% end %>
    <% @prescriptions.each do |topic, grouped_by_text| %>
      <% if topic != nil  %>
        <% if topic == TopicHelper::AUCUN %>
          <p><span class="badge badge-pill badge-secondary">Aucun thème</span>
        <% else %>
          <p><span class="badge badge-pill badge-secondary">Thème : <%= @topics[topic] %></span></p>
        <% end %>
      <% end %>
      <% grouped_by_text.each do |text_reference, group| %>
        <h6>
          <%= text_reference %>
        </h6>
        <% group.each do |section_reference, prescriptions| %>
          <strong>
            <%= section_reference %>
          </strong>
          <% prescriptions.each do |prescription| %>
            <div class='<%= "prescription_#{prescription.id} prescription" %>'>
              <%= html_content(prescription) %>
              <%= link_to "Supprimer", installation_prescription_path(installation_id: @installation.id, id: prescription.id), remote: true, method: :delete,
                class: "text-danger small delete", data: {alinea_id: prescription.alinea_id} %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
